<div class="w3-sand">
    <div class="w3-container w3-white w3-card-4 w3-animate-top" style="margin-left:5vw;margin-right:5vw;border-radius:0px 0px 10px 10px">
        <div class="row middle-xs w3-bar" style=" padding:12px 24px ; display : flex ; justify-content : space-between">
            <span style="width: 100% ; display : flex ; justify-content : space-between" class="w3-xlarge meraki-font-s5">
                <div>
                    Historial de ventas
                </div>
                <div>
                    <button matTooltip="Ventas" matTooltipPosition="left" matTooltipClass="tooltip" mat-icon-button routerLink="/puntoVenta"
                        style="margin : 0px">
                        <mat-icon style="margin-right: 0px;">shopping_cart</mat-icon>
                    </button>
                </div>
            </span>
        </div>
    </div>
    <mat-card>
        <mat-card-content>
            <section style="margin: 10px 0px;">
                <div class="input button-row">
                    <mat-form-field>
                        <mat-icon matPrefix>filter_list</mat-icon>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>
                </div>
                <div class="loadingSpinner" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div style="overflow: auto; width: 100%;">
                    <mat-table [dataSource]="dataSource" style="text-align: center; width: 100%;">
                        <ng-container matColumnDef="correlativo">
                            <mat-header-cell *matHeaderCellDef>Correlativo</mat-header-cell>
                            <mat-cell *matCellDef="let product; let i=index">
                                {{product.Correlativo}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
                            <mat-cell *matCellDef="let product; let i=index">
                                {{product.Fecha}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="producto">
                            <mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
                            <mat-cell *matCellDef="let product; let i=index">
                                {{product.Producto}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="cantidad">
                            <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
                            <mat-cell *matCellDef="let product; let i=index">
                                {{product.Cantidad}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="precio">
                            <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
                            <mat-cell *matCellDef="let product; let i=index">
                                {{product.Venta}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="usuario">
                            <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
                            <mat-cell *matCellDef="let product; let i=index">
                                {{product.Usuario}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="eliminar">
                            <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
                            <mat-cell *matCellDef="let cliente; let i=index">
                                <mat-icon>remove_circle</mat-icon>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let cliente; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
                <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
            </section>
        </mat-card-content>
    </mat-card>
</div>