<div class="w3-sand">
    <div class="w3-container w3-white w3-card-4" style="margin-left:5vw;margin-right:5vw;border-radius:0px 0px 10px 10px">
        <div class="row middle-xs w3-bar" style=" padding:12px 24px ; display : flex ; justify-content : space-between">
            <span style="width: 100% ; display : flex ; justify-content : space-between" class="w3-xlarge meraki-font-s5">
                <div>
                    Historial de ventas
                </div>
                <div>
                    <button matTooltip="Ventas" matTooltipPosition="left" matTooltipClass="tooltip" mat-icon-button routerLink="/puntoVenta"
                        style="margin : 0px">
                        <mat-icon style="margin-right: 0px;">shopping_cart</mat-icon>
                    </button>
                </div>
            </span>
        </div>
    </div>
    <mat-card>
        <mat-card-content>
            <section style="margin: 10px 0px;">
                <div class="input button-row">
                    <mat-form-field>
                        <mat-icon matPrefix>filter_list</mat-icon>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>
                </div>
                <div class="loadingSpinner" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div style="overflow: auto; width: 100%;">
                    <mat-table [dataSource]="dataSource" style="text-align: center; width: 100%;">
                        <ng-container matColumnDef="correlativo">
                            <mat-header-cell *matHeaderCellDef>Correlativo</mat-header-cell>
                            <mat-cell *matCellDef="let product; let i=index">
                                {{product.correlativo}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
                            <mat-cell *matCellDef="let product; let i=index">
                                {{product.fecha}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="usuario">
                            <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
                            <mat-cell *matCellDef="let product; let i=index">
                                {{product.usuario}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="productos">
                            <mat-header-cell style="flex : 2" *matHeaderCellDef>Producto</mat-header-cell>
                            <mat-cell style="flex : 2" *matCellDef="let product; let i=index">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Operacion</th>
                                            <th>Venta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of product.products">
                                            <td style="border-radius: 5px;">{{product.producto}}</td>
                                            <td style="border-radius: 5px;">{{product.cantidad}}</td>
                                            <td style="border-radius: 5px;">{{product.operacion}}</td>
                                            <td style="border-radius: 5px;">{{product.venta}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="eliminar">
                            <mat-header-cell *matHeaderCellDef>Activar / Anular</mat-header-cell>
                            <mat-cell *matCellDef="let cliente; let i=index">
                                <mat-icon matTooltip="Anular" matTooltipPosition="above">remove_circle</mat-icon>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let cliente; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
                <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
            </section>
        </mat-card-content>
    </mat-card>
</div>